@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

@layer components {
	input {
		@apply p-1 bg-white/10 border border-solid border-white rounded;
	}
	label {
		@apply font-medium;
	}
	button {
		@apply flex items-center justify-center px-4 py-2 rounded bg-gray-500 text-white hover:bg-gray-400 border border-solid border-gray-600;
	}

	button[disabled] {
		@apply opacity-50 pointer-events-none;
	}
}
